<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <img src="/assets/images/burger.png" alt="cartoon picture of a burger" width="150px">
            <h1>Burger Kitchen!</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 card text-white bg-secondary">
            <h2 class="card-header">Cook a new burger</h2>
            <form class="create-form card-body">
                <div class="form-group">
                    <span><label for="ca">Burger Name:</label>
                    <input type="text" id="newburgername" name="burger_name">
                    <button type="submit" class="btn btn-primary">Cook burger!</button></span>
                </div>

            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12 card text-white bg-success">
                <h2 class="card-header">Burgers ready to eat</h2>
                <div class="card-body">
                {{#each burgers}}
                    {{#unless devoured}}
                    {{> burgers/burger-block devour=true}}
                    {{/unless}}
                {{/each}}
                </div>    
            </div>
        </div>

        <div class="col-md-6">
            <div class="col-md-12 card text-white bg-warning">
                <h2 class="card-header">Burgers already devoured</h2>
                <div class="card-body">
                {{#each burgers}}
                    {{#if devoured}}
                    {{> burgers/burger-block}}
                    {{/if}}
                {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>