<h4 class=
"card-text">
    {{id}}.
	{{burger_name}}

    {{#unless devoured}}
        <button class="change-devoured btn btn-warning" data-id="{{id}}" data-newdevoured="{{devour}}">Devour!
        </button>
    {{/unless}}
</h4>